body{
  overflow-x: hidden;
}
.col-10{
  height: 100vh;
  /* position: absolute; */
  margin-left: -35px;
  border-radius: 30px;
  background-color: white;
}
.scroll{
  height: 80vh;
  overflow-y: auto;
}